{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <h1>Login to Rango</h1>
    <form id="login_form" method="post" action="{% url 'rango:login' %}">
        {% csrf_token %}
        
        <label for="id_username">Username:</label>
        <input type="text" name="username" id="id_username" size="50" />
        <br />

        <label for="id_password">Password:</label>
        <input type="password" name="password" id="id_password" size="50" />
        <br />

        <input type="submit" value="Submit" />
    </form>
{% endblock %}
